/*
project page - headings
*/
.header-level1 {
  font-size: 2em;
  letter-spacing: 0.05rem;
  font-weight: bold;
  color: #3D3D3D;
}
.header-level1-banner {
  font-size: 2em;
  letter-spacing: 0.05rem;
  font-weight: bold;
  color: #fff;
}
.header-level2 {
  font-size: 1.5em;
  font-weight: bold;
  color: #FA7268;
  text-transform: uppercase;
}
.header-level3 {
  font-size: 1.25em;
  color: #3D3D3D;
}
